.form-item-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5em;
    margin: 1em 0;

    @media screen and (min-width: 600px) {
        flex-direction: row;
        align-items: center;
    }
}